* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: -moz-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 8rem 6rem;
}

.section__margin {
    margin: 0rem 6rem 0rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}

/* Navbar CSS */

.cr__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.cr__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cr__navbar-links_logo {
    margin-right: 2rem;
}

.cr__navbar-links_logo img {
    width: 207.56px;
    height: 70.02px;
}

.cr__navbar-links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cr__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cr__navbar-links_container p,
.cr__navbar-sign p,
.cr__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.cr__navbar-links_container p a:focus {
    color: #dd85d7;
}
.cr__navbar-links_container p a:hover {
    color: #ff4820;
}

.cr__navbar-sign button,
.tc-button-repair,
.cr__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #be9639;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.cr__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.cr__navbar-menu svg {
    cursor: pointer;
}

.cr__navbar-menu_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.cr__navbar-menu_container p {
    margin: 1rem 0;
}

.cr__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .cr__navbar-links_container {
        display: none;
    }

    .cr__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .cr__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .cr__navbar {
        padding: 2rem;
    }

    .cr__navbar-sign {
        display: none;
    }

    .cr__navbar-menu_container {
        top: 20px;
    }

    .cr__navbar-menu_container-links-sign {
        display: block;
    }
}

/* Header */

.cr__header {
    display: flex;
    flex-direction: row;
}

.cr__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.cr__header-content h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.cr__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
}

.cr__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.cr__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cr__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #be9639;
    border: 2px solid #be9639;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cr__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.cr__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.cr__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.cr__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr__header-image img {
    width: 60%;
    height: 50%;
}

@media screen and (max-width: 1050px) {
    .cr__header {
        flex-direction: column;
    }

    .cr__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .cr__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .cr__header-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .cr__header-content__people {
        flex-direction: column;
    }

    .cr__header-content__people p {
        margin: 0;
    }

    .cr__header-content__input input,
    .cr__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .cr__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .cr__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .cr__header-content__input input,
    .cr__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}

/* About Us */

.aboutus-usericon {
    font-size: 100px;
}

/* Footer */

.cr__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-footer);
}

.cr__footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.cr__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}

.cr__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}

.cr__footer-btn p {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.cr__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.cr__footer-links div {
    width: 250px;
    margin: 1rem;
}

.cr__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.cr__footer-links_logo img {
    width: 203px;
    height: 73px;

    margin-bottom: 1rem;
}

.cr__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.cr__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.cr__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.cr__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.cr__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.cr__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .cr__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .cr__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .cr__footer-links div {
        margin: 1rem 0;
    }

    .cr__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .cr__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}

/* what is Credit Repair */

.cr__whatcr {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer) !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cr__whatcr-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.cr__whatcr-feature .cr__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.cr__whatcr-feature .cr__features-container_feature-text {
    max-width: 700px;
}

.cr__whatcr-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 0 2rem;
}

.cr__whatcr-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 500;
    font-family: var(--font-family);
    max-width: 510px;
}

.cr__whatcr-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.cr__whatcr-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.cr__whatcr-container .cr__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.cr__whatcr-container .cr__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .cr__whatcr-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .cr__whatcr-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .cr__whatcr-feature .cr__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .cr__whatcr-feature .cr__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .cr__whatcr-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .cr__whatcr-container .cr__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}
.cr__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
}

.cr__features-container__feature-title {
    flex: 1;
    max-width: 190px;
    margin-right: 2rem;
}

.cr__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.cr__features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.cr__features-container_feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.cr__features-container_feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .cr__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .cr__features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .cr__features-container__feature {
        margin: 1rem 0;
    }
}

/* Features Section */

.cr__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cr__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.cr__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 500;
    font-family: var(--font-family);
}

.cr__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.cr__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .cr__features {
        flex-direction: column;
    }

    .cr__features-heading {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .cr__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}

/* Blog Section */

.cr__blog {
    display: flex;
    flex-direction: column;
}

.cr__blog-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.cr__blog-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 500;
}

.cr__blog-container {
    display: flex;
    flex-direction: row;
}

.cr__blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.cr__blog-container_groupB {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .cr__blog-container {
        flex-direction: column-reverse;
    }

    .cr__blog-container_groupA {
        margin: 2rem 0;
    }

    .cr__blog-container_groupA .cr__blog-container_article {
        width: 48%;
    }

    .cr__blog-container_groupA .cr__blog-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .cr__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .cr__blog-container_groupA .cr__blog-container_article {
        width: 100%;
    }

    .cr__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .cr__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}

.cr__blog-container_article {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.cr__blog-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.cr__blog-container_article-image img {
    width: 100%;
    height: 100%;
}

.cr__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.cr__blog-container_article-content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

    color: #fff;
}

.cr__blog-container_article-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 500;
    line-height: 30.3px;

    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}

.cr__blog-container_article-content p:last-child {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .cr__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}

/* Register Section */

.cr__register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.cr__register-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #fff !important;
}

.cr__register-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.cr__register-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 700;
}

.cr__register-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.cr__register-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .cr__register {
        flex-direction: column;
    }

    .cr__register-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .cr__register {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .cr__register-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .cr__register-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}

/* Basic CSS */
.about-us-btn-class {
    font-weight: 500;
    padding: 0;
    background-color: rgba(1, 62, 80) !important;
    border-color: rgba(1, 62, 80) !important;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item {
    color: var(--color-bg) !important;
    font-size: 14px !important;
}

.small-screen-links-class {
    font-size: 100% !important;
    margin-left: 0.5rem !important;
    color: #fff !important;
}

.font-16 {
    font-size: 16px;
}

.font-24 {
    font-size: 24px;
}

.certification-img-class {
    max-width: 65%;
}

.client-testimonial-img-class {
    max-width: 50%;
    border-radius: 50%;
}

.client-testimonials-card {
    border: none;
    border-radius: 12px;
    background: var(--color-footer);
}

.pdf-logo-class-tc {
    color: var(--color-subtext);
}

.cursor {
    cursor: pointer;
}

.gradient__subtext {
    color: var(--color-subtext);
}

.gradient__bar {
    background: var(--gradient-bar);
    height: 5px;
    border-radius: 5px;
}

.services-img-right-side {
    object-fit: cover;
    height: 500px !important;
    border-bottom-left-radius: 30px;
    max-width: 100%;
}

.services-img-left-side {
    object-fit: cover;
    height: 500px !important;
    border-bottom-right-radius: 30px;
    max-width: 100%;
}

.font-30 {
    font-size: 30px;
}

.services-right-side-container {
    display: flex;
}

@media screen and (max-width: 768px) {
    .services-right-side-container {
        flex-direction: column-reverse;
    }
}

.gallery-video-custom-class {
    width: 80%;
}
