* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: -moz-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(1, 62, 80) 0%, rgba(1, 62, 80) 25%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 8rem 6rem;
}

.section__margin {
    margin: 8rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}

/* Navbar CSS */

.cr__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.cr__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cr__navbar-links_logo {
    margin-right: 2rem;
}

.cr__navbar-links_logo img {
    width: 180.56px;
    height: 37.02px;
}

.cr__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.cr__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cr__navbar-links_container p,
.cr__navbar-sign p,
.cr__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.cr__navbar-links_container p a:focus {
    color: #dd85d7;
}
.cr__navbar-links_container p a:hover {
    color: #ff4820;
}

.cr__navbar-sign button,
.cr__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.cr__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.cr__navbar-menu svg {
    cursor: pointer;
}

.cr__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.cr__navbar-menu_container p {
    margin: 1rem 0;
}

.cr__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .cr__navbar-links_container {
        display: none;
    }

    .cr__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .cr__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .cr__navbar {
        padding: 2rem;
    }

    .cr__navbar-sign {
        display: none;
    }

    .cr__navbar-menu_container {
        top: 20px;
    }

    .cr__navbar-menu_container-links-sign {
        display: block;
    }
}

/* Header */

.cr__header {
    display: flex;
    flex-direction: row;
}

.cr__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.cr__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.cr__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
}

.cr__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.cr__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cr__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #ff4820;
    border: 2px solid #ff4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cr__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.cr__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.cr__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.cr__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr__header-image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .cr__header {
        flex-direction: column;
    }

    .cr__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .cr__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .cr__header-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .cr__header-content__people {
        flex-direction: column;
    }

    .cr__header-content__people p {
        margin: 0;
    }

    .cr__header-content__input input,
    .cr__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .cr__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .cr__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .cr__header-content__input input,
    .cr__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}

/* About Us */

.aboutus-usericon {
    font-size: 100px;
}
